# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.dist
.unlighthouse
# Astro
.astro

.wrangler
.env

# Supabase local development data
supabase/.temp/
supabase/functions/.env

# Local DB data (only if you configured custom local storage targets)
supabase/.branches/