---
import "../styles/global.css";
import Resume from "../lib/resume.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Riley Smith | Resume</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Riley Smith | Resume" />
    <meta
      property="og:description"
      content="👋 hey, i'm Riley. This is my resume"
    />
    <meta name="darkreader-lock" />
  </head>
  <body class="bg-white dark:bg-slate-950 dark:text-white">
    <Resume />
  </body>
</html>
